@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

body {
  background-color: black;
}

h1 {
  font-family: Barlow;
  color: white;
  letter-spacing: 0.35em;
  font-size: 40pt;
}
h2 {
  font-family: Barlow;
  font-size: 30pt;
  letter-spacing: 0.35em;
}
h5 {
  font-size: 18pt;
}
p {
  font-size: 16pt;
}
footer {
  display: flex;
}

#icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
svg:hover {
  color: blue;
  transform: scale(1.5);
}
#jumbocarousel {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: fadein 4s both;
}
#jumbotext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#jumbotext h2,
#jumbotext p {
  font-weight: bold;
  color: white;
  text-shadow: black 0px 0px 2px;
  backdrop-filter: blur(5px);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
